body {
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
  margin-top: 40px;
}

h1 {
  margin-bottom: 20px;
}

.piano {
  display: flex;
  position: relative;
}

.key {
  width: 60px;
  height: 250px;
  border: 1px solid #000;
  background: white;
  margin: 0 1px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  box-sizing: border-box;
  user-select: none;
  color: black;
}

.key.black {
  width: 40px;
  height: 150px;
  background: black;
  color: white;
  position: absolute;
  /* margin-left: -20px; */
  /* z-index: 1; */
}

.key.active {
  background: #ddd;
}
.key.black.active {
  background: #444;
}
